.form-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .input-field {
    width: 95%;
    padding: 0.5rem;
    margin-bottom: 10px;
  }

  .input-field::placeholder {
    text-align: center;
  }  
  
  .submit-button {
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #555;
  }
  